* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    display: flex;
    min-height: 100vh;
    background-color: #000;
    font-family: sans-serif;
}

img {
    border-radius: 50%;
    width: 320px;
    height: 320px;
}

h1 {
    color: rgb(255, 255, 255);
    margin-top: 40px;
    margin-bottom: 8px;
}

p {
    color: rgb(146, 146, 146);
}

ul {
    margin-top: 40px;
}

li {
    margin-bottom: 18px;
    list-style: none;
}

a {
    background-color: #cdd832;
    color: black;
    padding: 15px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    font-size: 100%;
}

a:hover {
    text-decoration: underline;
    transform: scale(1.1);
    transition: .3s;
}

footer {
    color: rgb(146, 146, 146);
    font-size: 80%;
}

.container {
    background-color: #000;
    width: 360px;
    margin: 0 auto;
    padding: 16px;
    text-align: center;
}